.button {
  @extend .transition-active;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  cursor: pointer;
  font-family: $font-family--primary;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $color-default-white;
  padding: 8px 30px;
  background: $color-royal-blue;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  outline: none;

  &:hover {
	background-color: $color-jordy-blue;
  }

  &:active {
	background-color: $color-cornflower-blue;
  }

  &--bordered {
	color: $color-default-black;
	background: $color-default-white;
	border: 1px solid $color-very-light-grey;

	&:hover {
	  background: $color-default-white;
	  border-color: $color-royal-blue;
	}

	&:active {
	  background: $color-default-white;
	  border-color: $color-cornflower-blue;
	}
  }
}
