.custom-input {
  position: relative;
  margin-bottom: 44px;

  input {
    position: relative;
    width: 100%;
    min-height: 40px;
	padding: 7px 9px 9px;
    font-family: $font-family--primary;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
    letter-spacing: 0;
    color: $color-default-black;
	background: $color-lavender;
	border-radius: 3px;
    border: 1px solid $color-transparent;
    box-sizing: border-box;
    outline: none;
    text-overflow: ellipsis;
    transition: border 0.3s ease, background-color 0.3s ease;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        border-color: $color-lavender;
		background: $color-default-white;
      }
    }
  }

  label {
	position: absolute;
	top: -25px;
	left: 0;
	display: inline-block;
	font-family: $font-family--primary;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: $color-comet;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 28px);
	transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }

  input::placeholder {
	color: $color-comet;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
	color: $color-comet !important;
  }
}
