.info {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.info__content {
  flex-grow: 1;
  padding: 58px 80px;

  @media (max-width: 1439px) {
	padding: 58px 48px;
  }

  @media (max-width: 1023px) {
	padding-right: 50px;
  }
}

.info__title {
  margin-bottom: 39px;
}

.info__form {
  max-width: 690px;
  margin: 0 auto;
}
